.Contact {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  background:radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  padding: 3rem;
  .the-team{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 40px;
  }
  .header {
    font-size: 40px;
    width: 100%;
    margin-bottom: 3rem;
  }
  .main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  @media(max-width: 600px) {
    .main-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .card-container{
      max-width: 80%;
      width: 80%;
      min-height: 30%;
    }
    .card-img {
      margin-top: 10%;
    }
  }
  

  .card-container {
    color: white;
    font-family: "Montserrat", sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    align-items: center;
    justify-content: flex-start;
    // gap: 15px;
    // padding: 2px;
    // margin-top: 75px;
    margin: 0.75rem;
    max-width: 300px;
    width: 300px;
    // height: auto;
    // min-height: 40%;
    overflow: hidden;
    background-color: #1f1f1f;
    border-radius: 1rem;
    box-shadow: $primary 0px 1px 2px 0px,
    $primary 0px 2px 6px 2px;
    display: flex;
    flex-direction: column;
    // @include mobile {
    //   flex-direction: column;
    //   height: 80%;
    //   // max-width: 100%;
    // }
    .card-img {
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 20%;
      // margin-bottom: 5%;
      //width: 80%;
      //height: 45%;
      width: 90%;
      height: 90%;
      min-height: 20%;
      min-width: 30%;
      padding: 5px;
      justify-content: center;
      align-items: flex-start;
      overflow: hidden;
      object-fit: cover;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    }

    .name-and-social {
      text-align: center;
      padding: 10px;
      .name {
        font-size: 25px;
      }
      .social-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 17%;
        margin-bottom: 30px;
        //transform: translateY(-2px);
      }

      .fa-cog {
        color:$primary;
      }

      .component-1 {
        margin-top: 10%;
        margin-right: 50px;
        &:hover {
          transform: translateY(-6px);
          cursor: pointer; 
        }
      }

      .component-2 {
        margin-top: 10%;
        &:hover {
          transform: translateY(-6px);
          cursor: pointer;

        }
      }
    }
  }
}
@media(max-width: 600px) {
  .Contact{
    padding:1rem;
    .card-container {
      max-width: 325px;
    }
    .card-img{
      width: 90%;
      height: 90%;
      min-height: 20%;
      min-width: 30%;
      padding: 5px;
      justify-content: center;
      align-items: flex-start;
      overflow: hidden;
      object-fit: cover;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
    .the-team{
      text-align: center;
      margin-top: 40px;
      margin-bottom: 3rem;
      font-size: 40px;
    }
  }
}

